
<ion-content [fullscreen]="true">
 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shop</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>
  <br>
  <ion-grid >
    <ion-row>
      <ion-col>
       <ion-list>
          <ion-list-header>Items</ion-list-header>
          <ion-item *ngFor="let item of items"> {{ item.Name }}  ({{ item.amount }}) {{ item.Unit }}</ion-item>
       </ion-list>
      </ion-col>  
    </ion-row>
  </ion-grid>
  


</ion-content>
